@use '../../style/variable.scss' as vars;

.label {
  font-weight: 500;
  color: vars.$regular-text-color;
  flex-grow: 1;
  
  select {
    display: block;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid vars.$input-border-color;
    background-color: vars.$input-bg-color;
    outline: none;
    border-radius: 4px;
    margin-top: 6px;
    &:focus{
      border-color: vars.$focus-ring-color;
      box-shadow:
        0 0 0 4px rgba(vars.$focus-ring-color, 0.12),
        0 1px 2px rgba(vars.$shadow-color-dark, 0.05);
    }
    .placeholder {
      color: vars.$light-text-color;
    }
  }
}