@use '../../style/variable.scss' as vars;

.form {
  width: 100%;
  .wrapper {
    display: flex;
    gap: 32px;
    > * {
      flex: 1;
    }
  }
  .button {
    border: none;
    color: vars.$button-text-color;
    background-color: vars.$button-bg-color;
    padding: 12px 36px;
    border-radius: 4px;
    margin-top: 16px;
    float: right;
  }
}