$primer-text-color: #171717;
$light-text-color: #737373;
$button-text-color: #A3A3A3;
$button-bg-color: #F5F5F5;
$regular-text-color: #404040;
$input-bg-color: #FAFAFA;
$input-border-color: #E5E5E5;
$focus-ring-color: #444CE7; 
$shadow-color-dark: #101828;

