@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
@import './style/variable.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
.container {
  padding: 0 16px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
}

h1, h2 {
  color: $primer-text-color;
}

p{
  margin: 0;
}

.description {
  color: $light-text-color;
}