@use './style/variable' as vars;
@use './style/mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1216px;
  padding: 64px 16px 80px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  @include mixins.on-tablet {
    padding: 64px 32px 100px;
  }
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
}

h1, h2 {
  color: vars.$primer-text-color;
}

p{
  margin: 0;
}

.description {
  color: vars.$light-text-color;
  margin-bottom: 16px;
}